/* Reseta margem do navegador e inclui fontes padrão */
body {
  margin: 0; /* área de margem */
  font-family: Arial, Helvetica, sans-serif; /* fontes que serão carregadas por padrão, na ordem em que aparecem no código */
}

/* reseta margens de h1, ul e p. Necessário para unir seções em divs sem conteúdos anteriores. */
h1,
ul,
p {
  margin: 0; /* área de margem */
}

/* Reseta estilos das ul */
ul {
  padding: 0; /* define uma a distância entre o conteúdo de um elemento e suas bordas. */
  list-style: none; /* remove os marcadores padrão de listas */
}

/* Reseta estilos de a */
a {
  text-decoration: none; /* remove decoração padrão de textos */
  color: inherit; /* herda a cor do item "pai" */
}

/* Estilos para as imagens do site */
img {
  width: 100%; /* Imagem adquire máximo de largura da tela */
  display: block; /* faz com que o elemento HTML seja renderizado como bloco, assim como parágrafos e cabeçalhos */
}

.header-bg {
  background-color: #000000; /* Cor padrão background do cabeçalho */
}

.header {
  display: flex; /* Coloca um item ao lado do outro */
  flex-wrap: wrap; /* Se largura da tela for menor que a largura do site, quebra linha */
  gap: 20px; /* cria espaço ao quebrar a linha */
  justify-content: space-between; /* Distribui os itens uniformemente */
  align-items: center; /* Itens alinhados ao centro  */
  box-sizing: border-box; /* A largura e altura (e propriedades min/max) incluem conteúdo, padding e border */
  padding: 20px; /* define uma a distância entre o conteúdo de um elemento e suas bordas. */
  max-width: 1200px; /* largura máxima do container */
  margin-left: auto; /* margem automática para centralizar os elementos da página (esquerda) quando atingir o max-width */
  margin-right: auto; /* margem automática para centralizar os elementos da página (direita) quando atingir o max-width */
}

.header-menu {
  display: flex; /* Coloca um item ao lado do outro */
  flex-wrap: wrap; /* Se largura da tela for menor que a largura do site, quebra linha */
  gap: 40px; /* espaço entre cada link */
}

.header-menu a {
  color: #ffffff; /* cor do texto */
  display: inline-block; /* itens em linha e com possibilidade de ajustar width e demais espaçamentos */
  padding: 16px 0; /* padding acima e abaixo para aumentar área de contato em telas touchscreen */
  font-size: 18px; /* tamanho da fonte */
  position: relative; /* para alinhamento do elemento after que está como "absolute" */
}

/* after: usado para adicionar conteúdo de um elemento como a propriedade content */
.header-menu a:after {
  content: ""; /* em branco pois está sendo criado no código */
  display: block; /* faz com que o elemento HTML seja renderizado como bloco, assim como parágrafos e cabeçalhos */
  height: 2px; /* altura do elemento */
  width: 0%; /* em relação ao elemento pai, valor inicial */
  background: #ffffff; /* cor do elemento */
  margin-top: 4px; /* margem ao topo para separar do elemento acima */
  transition: 0.3s; /* tempo de transição no hover */
  position: absolute; /* retira o "after" do fluxo para manter alinhamento anterior. Passa a ficar relacionado ao elemento pai "relative" */
}

.header-menu a:hover:after {
  width: 100%; /* em relação ao elemento pai, valor final */
}

/* quando a tela for igual ou menor que o valor especificado, aplica esses estilos */
@media (max-width: 800px) {
  .header-menu {
    gap: 20px; /* diminui o espaçamento entre itens em relação ao espaçamento definido anteriormente */
  }

  .header-menu a {
    background: #111111; /* mudança de cor para que a área de contato em telas touch fique mais visível */
    padding: 12px 16px; /* padding para área de contato */
    border-radius: 4px; /* define arredondamento nos cantos */
  }

  /* mudança de cor ao passar mouse/toque */
  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header-menu a:after {
    display: none; /* esconde elementos abaixo do menu criados para telas maiores */
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px; /* diminui o espaçamento entre itens em relação ao espaçamento definido anteriormente */
  }

  .header-menu a {
    padding: 8px 12px; /* padding para área de contato */
    font-size: 14px; /* tamanho da fonte */
  }
}

/* seção principal */
.introducao-bg {
  background: #000000; /* cor fundo */
  color: #ffffff; /* cor fonte */
}

/* container */
.introducao {
  display: grid; /* divide em grids */
  grid-template-columns: 1fr 1fr; /* divide em dois grids de igual tamanho */
  gap: 0 40px; /* espaçamento entre itens nas laterais */
  box-sizing: border-box; /* A largura e altura (e propriedades min/max) incluem conteúdo, padding e border */
  max-width: 1200px; /* largura máxima do container */
  padding-left: 20px; /* define uma a distância entre o conteúdo de um elemento e suas bordas. */
  padding-right: 20px; /* define uma a distância entre o conteúdo de um elemento e suas bordas. */
  margin-left: auto; /* itens ficarão alinhados ao centro, independente da resolução da página */
  margin-right: auto; /* itens ficarão alinhados ao centro, independente da resolução da página */
}

/* conteúdo da seção principal */
.introducao-conteudo {
  align-self: end; /* estabelece o alinhamento de um certo item dentro do bloco que o contém. */
  padding-bottom: 80px; /* ajustar os itens definidos no align-self */
}

/* estilos de h1 dentro da classe introducao */
.introducao h1 {
  margin-bottom: 32px; /* ajuste de margem de h1 */
  font-size: 64px; /* tamanho da fonte */
  line-height: 1.125; /* espaçamento vertical da fonte */
}

/* estilos de span dentro da classe introducao > h1 */
.introducao h1 span {
  color: #ffbb00; /* cor do ponto decorativo */
}

/* estilos de p dentro da classe introducao */
.introducao p {
  margin-bottom: 20px; /* ajuste de margem de p */
  font-size: 24px; /* tamanho da fonte */
  line-height: 1.5; /* espaçamento vertical da fonte */
  color: #b2b2b2; /* cor da fonte */
}

/* botão da seção principal */
.introducao a {
  display: inline-block; /* itens em linha e com possibilidade de ajustar width e demais espaçamentos */
  padding: 16px 32px; /* espaçamento interno entre texto e background do botão */
  background: linear-gradient(#ffbf00, #f2a50c); /* cor de fundo do botão */
  border-radius: 4px; /* cantos arredondados */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* sombra de fundo */
  text-transform: uppercase; /* transforma todas as letras em maiúsculas */
  color: #332200; /* cor do texto do botão */
  font-size: 24px; /* tamanho da fonte */
  line-height: 1.33; /* altura da linha do texto */
  font-weight: bold; /* fonte em negrito */
}

/* estilos aplicados ao passar mouse */
.introducao a:hover {
  background: linear-gradient(
    #ffb60d,
    #e59317
  ); /* cor de fundo do botão ao passar mouse*/
}
