.texto-grande {
  font-size: 64px; /* tamanho da fonte */
  line-height: 1.125; /* espaçamento vertical da fonte */
  font-family: "Poppins"; /* fonte adicionada ao código html */
  font-weight: 600; /* peso da fonte */
}

.texto-medio {
  font-size: 24px; /* tamanho da fonte */
  line-height: 1.5; /* espaçamento vertical da fonte */
  font-family: "Poppins"; /* fonte adicionada ao código html */
  font-weight: 400; /* peso da fonte */
}
