/* Reseta margem do navegador e inclui fontes padrão */
body {
  margin: 0; /* área de margem */
  font-family: Arial, Helvetica, sans-serif; /* fontes que serão carregadas por padrão, na ordem em que aparecem no código */
  color: var(--cor-11); /* cor padrão da tipografia */
}

/* reseta margens de h1, ul e p. Necessário para unir seções em divs sem conteúdos anteriores. */
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0; /* área de margem */
}

/* Reseta estilos das ul */
ul {
  padding: 0; /* define uma a distância entre o conteúdo de um elemento e suas bordas. */
  list-style: none; /* remove os marcadores padrão de listas */
}

/* Reseta estilos de a */
a {
  text-decoration: none; /* remove decoração padrão de textos */
  color: inherit; /* herda a cor do item "pai" */
}

/* Estilos para as imagens do site */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* aplica estilo apenas em links terminados em .jpg (extensão) */
img[src$=".jpg"] {
  border-radius: 4px;
}
